<div
  id="contact"
  class="w-full px-[12%] py-10 scroll-mt-20 bg-[url('/footer-bg-color.png')] bg-no-repeat bg-[length:90%_auto] bg-center dark:bg-none"
>
  <h4 class="text-center mb-2 text-lg font-Ovo">Connect with me</h4>
  <h2 class="text-center text-5xl font-Ovo">Get in touch</h2>
  <p class="text-center max-w-2xl mx-auto mt-5 mb-12 font-Ovo">
    I'd love to hear from you! If you have any questions, comments or feedback,
    please use the form below.
  </p>

  <form
    method="POST"
    action="https://api.web3forms.com/submit"
    class="max-w-2xl mx-auto"
  >
    <!------- Enter your web3 form access key below ------------>

    <input
      type="hidden"
      name="access_key"
      value="------Enter web3form access key----"
    />

    <div class="grid grid-cols-auto gap-6 mt-10 mb-8">
      <input
        type="text"
        placeholder="Enter your name"
        class="flex-1 p-3 outline-none border-[0.5px] border-gray-400 rounded-md bg-white dark:bg-dark-hover/30 dark:border-white/90"
        required
        name="name"
      />

      <input
        type="email"
        placeholder="Enter your email"
        class="flex-1 p-3 outline-none border-[0.5px] border-gray-400 rounded-md bg-white dark:bg-dark-hover/30 dark:border-white/90"
        required
        name="email"
      />
    </div>
    <textarea
      rows="6"
      placeholder="Enter your message"
      class="w-full p-4 outline-none border-[0.5px] border-gray-400 rounded-md bg-white mb-6 dark:bg-dark-hover/30 dark:border-white/90"
      required
      name="message"></textarea>

    <button
      class="py-3 px-8 w-max flex items-center justify-between gap-2 bg-black/80 text-white rounded-full mx-auto hover:bg-black duration-500 dark:bg-transparent dark:border-[0.5px] dark:hover:bg-dark-hover"
    >
      Submit now
      <img src="/right-arrow-white.png" alt="" class="w-4" />
    </button>
  </form>
</div>
