<div
  id="contact"
  class="w-full px-[12%] py-10 scroll-mt-20"
>
  <h4 class="text-center mb-2 text-lg font-Ovo">Connect with me</h4>
  <h2 class="text-center text-5xl font-Ovo">Get in touch</h2>
  <p class="text-center max-w-2xl mx-auto mt-5 mb-12 font-Ovo">
    I'd love to hear from you! If you have any questions, comments or feedback,
    please use the form below.
  </p>

  <!-- Cal inline embed code begins -->
  <div style="width:100%;height:100%;overflow:scroll" id="my-cal-inline"></div>
  <!-- Cal inline embed code ends -->
</div>

<script type="text/javascript">
  (function (C, A, L) {
    let p = function (a, ar) {
      a.q.push(ar);
    };
    let d = C.document;
    C.Cal =
      C.Cal ||
      function () {
        let cal = C.Cal;
        let ar = arguments;
        if (!cal.loaded) {
          cal.ns = {};
          cal.q = cal.q || [];
          d.head.appendChild(d.createElement("script")).src = A;
          cal.loaded = true;
        }
        if (ar[0] === L) {
          const api = function () {
            p(api, arguments);
          };
          const namespace = ar[1];
          api.q = api.q || [];
          if (typeof namespace === "string") {
            cal.ns[namespace] = cal.ns[namespace] || api;
            p(cal.ns[namespace], ar);
            p(cal, ["initNamespace", namespace]);
          } else p(cal, ar);
          return;
        }
        p(cal, ar);
      };
  })(window, "https://app.cal.com/embed/embed.js", "init");
  Cal("init", "30min", { origin: "https://cal.com" });

  Cal.ns["30min"]("inline", {
    elementOrSelector: "#my-cal-inline",
    config: { layout: "month_view" },
    calLink: "rajesh-rajasekaran/30min",
  });

  Cal.ns["30min"]("ui", {
    cssVarsPerTheme: {
      light: { "cal-brand": "#004f3b" },
      dark: { "cal-brand": "#fefce8" },
    },
    hideEventTypeDetails: false,
    layout: "month_view",
  });
</script>
