<div class="mt-20">
  <div class="text-center">
    <img src="/logo.png" alt="" class="w-36 mx-auto mb-2 dark:hidden" />
    <img
      src="/logo_dark.png"
      alt=""
      class="w-36 mx-auto mb-2 hidden dark:block"
    />

    <div class="w-max flex items-center gap-2 mx-auto">
      <img src="/mail_icon.png" alt="" class="w-6 dark:hidden" />
      <img
        src="/mail_icon_dark.png"
        alt=""
        class="w-6 hidden dark:block"
      />

      rajeshrajasekaran97@gmail.com
    </div>
  </div>
  <div
    class="text-center sm:flex items-center justify-between border-t border-gray-400 mx-[10%] mt-12 py-6"
  >
    <p>© 2025 Rajesh Rajasekaran. All rights reserved.</p>
    <ul class="flex items-center gap-10 justify-center mt-4 sm:mt-0">
      <li>
        <a target="_blank" href="https://github.com/itsSejar">GitHub</a>
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/rajesh97/"
          >LinkedIn</a
        >
      </li>
      <li>
        <a target="_blank" href="https://www.instagram.com/rajesh_rajasekaran97/">Instagram</a
        >
      </li>
      <li>
        <a target="_blank" href="https://x.com/itsSejar">Twitter</a
        >
      </li>
    </ul>
  </div>
</div>
