<div id="services" class="w-full px-[12%] py-10 scroll-mt-20">
  <h4 class="text-center mb-2 text-lg font-Ovo">What i offer</h4>
  <h2 class="text-center text-5xl font-Ovo">My services</h2>
  <p class="text-center max-w-2xl mx-auto mt-5 mb-12 font-Ovo">
    I am a frontend developer from Tamilnadu, India with 5+ years of experience in
    multiple companies like Accenture, Customer Labs and Dorustree.
  </p>

  <div class="grid grid-cols-auto gap-6 my-10">
    <div
      class="border border-gray-400 rounded-lg px-8 py-12 hover:shadow-black cursor-pointer hover:bg-light-hover hover:-translate-y-1 duration-500 dark:hover:bg-dark-hover dark:hover:shadow-white"
    >
      <img src="/web-icon.png" alt="" class="w-10" />
      <h3 class="text-lg my-4 text-gray-700 dark:text-white">Web design</h3>
      <p class="text-sm text-gray-600 leading-5 dark:text-white/80">
        Web development is the process of building, programming...
      </p>
      <a href="" class="flex items-center gap-2 text-sm mt-5"
        >Read more <img src="/right-arrow.png" alt="" class="w-4" /></a
      >
    </div>
    <div
      class="border border-gray-400 rounded-lg px-8 py-12 hover:shadow-black cursor-pointer hover:bg-light-hover hover:-translate-y-1 duration-500 dark:hover:bg-dark-hover dark:hover:shadow-white"
    >
      <img src="/mobile-icon.png" alt="" class="w-10" />
      <h3 class="text-lg my-4 text-gray-700 dark:text-white">Mobile app</h3>
      <p class="text-sm text-gray-600 leading-5 dark:text-white/80">
        Web development is the process of building, programming...
      </p>
      <a href="" class="flex items-center gap-2 text-sm mt-5"
        >Read more <img src="/right-arrow.png" alt="" class="w-4" /></a
      >
    </div>
    <div
      class="border border-gray-400 rounded-lg px-8 py-12 hover:shadow-black cursor-pointer hover:bg-light-hover hover:-translate-y-1 duration-500 dark:hover:bg-dark-hover dark:hover:shadow-white"
    >
      <img src="/ui-icon.png" alt="" class="w-10" />
      <h3 class="text-lg my-4 text-gray-700 dark:text-white">UI/ UX design</h3>
      <p class="text-sm text-gray-600 leading-5 dark:text-white/80">
        Web development is the process of building, programming...
      </p>
      <a href="" class="flex items-center gap-2 text-sm mt-5"
        >Read more <img src="/right-arrow.png" alt="" class="w-4" /></a
      >
    </div>
    <div
      class="border border-gray-400 rounded-lg px-8 py-12 hover:shadow-black cursor-pointer hover:bg-light-hover hover:-translate-y-1 duration-500 dark:hover:bg-dark-hover dark:hover:shadow-white"
    >
      <img src="/graphics-icon.png" alt="" class="w-10" />
      <h3 class="text-lg my-4 text-gray-700 dark:text-white">
        Graphics design
      </h3>
      <p class="text-sm text-gray-600 leading-5 dark:text-white/80">
        Web development is the process of building, programming...
      </p>
      <a href="" class="flex items-center gap-2 text-sm mt-5"
        >Read more <img src="/right-arrow.png" alt="" class="w-4" /></a
      >
    </div>
  </div>
</div>
